/*
	Basic CSS syntax
*/

/*change proporties from element*/
body{
	display: none;
}

ul {
  		list-style-type: none;
}

/*change properties from classes*/
.nav-link,.navbar-item{
	text-align: center;
	word-wrap: break-word; 
	font-size: 13px;
}

/*change properties from id*/
#nav-bar-full-width{
	word-wrap: break-word;
	background-color: cornflowerblue;

}
/* multi changes from id*/
#search-op, #nav-op, #scan-op{
	color:white;
	word-wrap: break-word;
}

.clearfix:hover{
	border:1px solid #7FFAFF;
	
}
.list-group{
	border-left: 0;
	border-right: 0;
}